@use "../../variables/variables" as *;
.overlay__screen3 {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.gallery__body {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 1080px;
  @media (max-width: 768px) {
    height: inherit;
    max-height: 1080px;
  }
}

.gallery__title {
  position: absolute;
  top: 455px;
  color: white;
  z-index: 5;
  cursor: pointer;
  font-size: 36px;
  line-height: 100%;
  font-weight: 400;
  font-family: $Bruno;
  left: 50%;
  transform: translate(-50%);
}

.gallery__card {
  transition: 1.5s ease;
  cursor: pointer;
  position: relative;
  max-width: 640px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  &:hover .overlay__screen3 {
    background: rgba(0, 0, 0, 0.5);
  }
  &:hover .gallery__title {
    color: $colorYellow;
    left: 17.6%;
    transform: translate(-50%);
  }
  &:active .gallery__title {
    color: $colorYellow;
    left: 20%;
    transform: translate(-50%);
  }
  &:hover {
    width: 980px;
    max-width: 980px;
  }
  &:active {
    width: 980px;
    max-width: 980px;
  }
  &:hover .gallery__info {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  &:hover .gallary__path-color {
    opacity: 1;
  }
  &:hover .gallary__title-color {
    fill: $colorYellow;
  }
  @media (max-width: 768px) {
    &:hover .gallery__title {
      color: $colorYellow;
      left: 50%;
      transform: translate(-50%);
    }
    &:active .gallery__title {
      color: $colorYellow;
      left: 50%;
      transform: translate(-50%);
    }
  }
}

.elite__body img {
  object-position: left 10px bottom 20px;
  transform: scale(1.5);
  @media (max-width: 768px) {
    object-position: center;
    transform: scale(1.1);
  }
}

.extra__body img {
  transform: scale(1.14);
  object-position: center;
  @media (max-width: 768px) {
    object-position: center;

    transform: scale(1);
  }
}
.vip__body img {
  @media (max-width: 768px) {
    object-position: center;
  }
}

.vip__body {
  @media (max-width: 768px) {
    position: relative;
  }
}

.vip__body::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 150%;
  background: linear-gradient(#ffffff00, #ffffff, #ffffff00);
  right: 0;
  top: 0;
  z-index: 5;
  @media (max-width: 768px) {
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #ffffff00, #ffffff, #ffffff00);
  }
}
.vip__body::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 150%;
  background: linear-gradient(#ffffff00, #ffffff, #ffffff00);
  left: 0;
  top: 0;
  z-index: 5;
  @media (max-width: 768px) {
    height: 2px;
    width: 100%;
    top: inherit;
    bottom: 0;
    background: linear-gradient(to right, #ffffff00, #ffffff, #ffffff00);
  }
}

.extra__body::after {
  @media (max-width: 768px) {
    position: absolute;
    content: "";
    width: 2px;
    height: 150%;
    background: linear-gradient(#ffffff00, #ffffff, #ffffff00);
    left: 0;
    top: 0;
    z-index: 5;
    @media (max-width: 768px) {
      height: 2px;
      width: 100%;
      top: inherit;
      bottom: 0;
      background: linear-gradient(to right, #ffffff00, #ffffff, #ffffff00);
    }
  }
}

.gallery__info {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-out;
  position: absolute;
  top: 494px;
  right: 161px;
  font-family: $Open;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
  z-index: 5;
  max-width: 480px;
  @media (max-width: 768px) {
    top: 230px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    max-width: 550px;
    right: inherit;
    left: 108px;
    text-align: center;
  }
  @media (max-width: 700px) {
    top: 168px;
    left: 20px;
    font-size: 14px;
    max-width: 280px;
  }
}

.gallery__link-gallery {
  display: flex;
  gap: 32px;
  padding-block-start: 50px;
  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    padding-block-start: 168px;
    padding-inline-start: 15px;
    gap: 30px;
  }
  @media (max-width: 700px) {
    padding-block-start: 142px;
  }
}
.gallery__link-gallery a {
  @media (max-width: 320px) {
    display: none;
  }
}
.gallery__link-sevices {
  padding-block-start: 69px;
  font-size: 14px;
  color: white;
  letter-spacing: 6.4px;
  gap: 20px;
  @media (max-width: 768px) {
    display: none;
  }
}
.gallary__title-color {
  fill: white;
  font-size: 36px;
  @media (max-width: 600px) {
  }
}
.gallary__path-color {
  stroke: #ffffff66;
  opacity: 0;
  transition: 0.3s ease;
  stroke-width: 2px;
}
.elite__title {
  left: 350px;
  @media (max-width: 600px) {
  }
}
.extra__title {
  left: 349px;
  @media (max-width: 600px) {
  }
}
.vip__title-color {
  fill: $colorYellow;
  @media (max-width: 600px) {
  }
}

.screen__3--mob {
  display: none;
  @media (max-width: 768px) {
    display: flex;
    width: 100%;
  }
}
.screen__3--mob .gallery__body {
  display: flex;
  flex-direction: column;
}
.screen__3--mob .gallery__card {
  @media (max-width: 768px) {
    width: 100%;
    max-width: 768px;
    height: 192px;
    &:hover {
      height: 576px;
    }
    &:active {
      height: 576px;
    }
  }
  @media (max-width: 320px) {
    height: 160px;
    &:hover {
      height: 480px;
    }
    &:active {
      height: 480px;
    }
  }
}

.gallery__title {
  @media (max-width: 768px) {
    top: 12px;
    left: 50%;
    transform: translate(-50%);
  }
  @media (max-width: 600px) {
    top: -5px;
  }
}

.elite__title {
  left: 51.6%;
  @media (max-width: 600px) {
    left: 59.4%;
  }
}
.extra__title {
  left: 51.2%;
  @media (max-width: 600px) {
    left: 59.2%;
  }
}

.vip__title--mob,
.elite__title--mob,
.extra__title--mob {
  display: none;
  @media (max-width: 768px) {
    display: flex;
  }
}

.vip__title--ds,
.elite__title--ds,
.extra__title--ds {
  @media (max-width: 768px) {
    display: none;
  }
}

.elite__title--mob {
  @media (max-width: 768px) {
    top: 59px;
    left: 50%;
  }
  @media (max-width: 400px) {
    top: 44px;
  }
  @media (max-width: 320px) {
    display: none;
  }
}

.extra__title--mob {
  @media (max-width: 768px) {
    top: 60px;
    left: 49.9%;
  }
  @media (max-width: 400px) {
    top: 43px;
  }
  @media (max-width: 320px) {
    display: none;
  }
}
.vip__title--mob {
  top: 45px;
  @media (max-width: 400px) {
    top: 28px;
  }
  @media (max-width: 320px) {
    display: none;
  }
}

.elite__title--mini,
.vip__title--mini,
.extra__title--mini {
  display: none;
  @media (max-width: 320px) {
    display: flex;
    position: absolute;
  }
}
.elite__title--mini {
  @media (max-width: 320px) {
    top: 51px;
    left: 160px;
  }
}
.vip__title--mini {
  @media (max-width: 320px) {
    top: 51px;
    font-size: 50px;
  }
}
.extra__title--mini {
  @media (max-width: 320px) {
    top: 50px;
    left: 160px;
  }
}
