.overlay__screen4 {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .screen__img-4 {
    min-height: 33.75rem;
    max-height: 33.75rem;
  }
}

.screen__4--mob {
  display: none;
}
@media (max-width: 768px) {
  .screen__4--mob {
    display: flex;
    height: 70rem;
  }
}
@media (max-width: 600px) {
  .screen__4--mob {
    height: inherit;
  }
}

@media (max-width: 768px) {
  .select__body {
    height: 100%;
  }
}

.select__info {
  display: flex;
  position: absolute;
  align-items: center;
  z-index: 5;
  top: 26.28125rem;
  left: 27.4%;
}
@media (max-width: 1800px) {
  .select__info {
    top: 36.875rem;
    left: 53%;
    transform: translate(-50%);
    width: 40.625rem;
  }
}
@media (max-width: 992.99px) {
  .select__info {
    top: 29.0625rem;
    left: 55.4%;
  }
}
@media (max-width: 600px) {
  .select__info {
    justify-content: center;
    left: 61%;
    transform: translate(-50%);
    top: 24.0625rem;
  }
}

.screen__4-footer {
  display: none;
}
@media (max-width: 768px) {
  .screen__4-footer {
    display: flex;
  }
}

@media (max-width: 1800px) {
  .polyline__arrow--select {
    display: none;
  }
}

.pagination__title {
  position: relative;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 100%;
  color: white;
  font-family: "Bruno Ace SC";
  padding-block-end: 1.25rem;
}
@media (max-width: 992.99px) {
  .pagination__title {
    font-size: 1.5rem;
    padding-block-end: 1.3125rem;
  }
}
@media (max-width: 600px) {
  .pagination__title {
    font-size: 0.875rem;
    padding-block-end: 0;
  }
}

.elite__pagination,
.vip__pagination,
.extra__pagination {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.extra__pagination {
  margin-inline-start: -1rem;
}

.select__items {
  display: none;
  text-align: center;
  z-index: 5;
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "Open Sans";
  padding: 0.1875rem;
  background-color: rgba(255, 255, 255, 0.2509803922);
  max-width: 1.5rem;
  border-radius: 100%;
}
@media (max-width: 768px) {
  .select__items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .select__items {
    max-width: 1.25rem;
    max-height: 1.25rem;
    font-size: 0.75rem;
  }
}

.select__items-vip,
.select__items-elite,
.select__items-extra {
  position: absolute;
  z-index: 5;
  width: 1.5rem;
}

.select__items-vip {
  top: -2.125rem;
  left: 6.625rem;
}
@media (max-width: 600px) {
  .select__items-vip {
    left: 3.25rem;
    top: -1.6875rem;
  }
}

.select__items-elite {
  top: -2rem;
  left: 2.1875rem;
}
@media (max-width: 600px) {
  .select__items-elite {
    top: -1.625rem;
    left: 2.125rem;
  }
}

.select__items-extra {
  top: -2rem;
  left: 1.25rem;
}
@media (max-width: 600px) {
  .select__items-extra {
    left: 0.625rem;
    top: -1.875rem;
  }
}

.select__items-elite,
.elite__pagination-title {
  margin-inline-start: 4.6875rem;
  margin-block-start: 0;
}
@media (max-width: 992.99px) {
  .select__items-elite,
  .elite__pagination-title {
    margin-inline-start: 4.9375rem;
  }
}

@media (max-width: 600px) {
  .select__items-elite {
    margin-inline-start: 0.9375rem;
  }
}

@media (max-width: 600px) {
  .elite__pagination-title {
    margin-inline-start: 2.125rem;
    margin-block-start: 0.125rem;
  }
}

.vip__pagination-title {
  margin-inline-start: 5rem;
}
@media (max-width: 992.99px) {
  .vip__pagination-title {
    margin-inline-start: 5.8125rem;
  }
}
@media (max-width: 600px) {
  .vip__pagination-title {
    margin-inline-start: 3rem;
  }
}

.extra__pagination-title {
  margin-inline-start: -2.5rem;
}
@media (max-width: 992.99px) {
  .extra__pagination-title {
    margin-inline-start: -1.3125rem;
  }
}
@media (max-width: 600px) {
  .extra__pagination-title {
    margin-inline-start: -0.6875rem;
    margin-block-start: -0.0625rem;
  }
}

.select__area {
  position: absolute;
  z-index: 5;
  top: 17.625rem;
  left: 34.1875rem;
  font-size: 1.375rem;
  line-height: 1.5625rem;
  font-weight: 500;
  font-family: "Roboto";
  max-width: 34.75rem;
  letter-spacing: 0.4125rem;
  text-transform: uppercase;
  color: white;
}
@media (max-width: 1800px) {
  .select__area {
    top: 7.8125rem;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
  }
}
@media (max-width: 992.99px) {
  .select__area {
    top: 2.875rem;
    width: 100%;
    font-size: 1.125rem;
  }
}
@media (max-width: 600px) {
  .select__area {
    max-width: 31.25rem;
    font-size: 0.875rem;
    letter-spacing: 0.225rem;
  }
}
@media (max-width: 400px) {
  .select__area {
    max-width: 18.75rem;
  }
}

.elite__circle-1 {
  stroke: rgba(255, 255, 255, 0.4);
  fill: none;
}

.elite__circle-2 {
  fill: rgba(255, 255, 255, 0.4);
}

.elite__circle-1.active {
  stroke: #ffac30;
}

.elite__circle-2.active {
  fill: #ffac30;
}

.vip__pagination-line,
.extra__pagination-line,
.elite__pagination-line {
  stroke: rgba(255, 255, 255, 0.4);
}

.vip__circle-1,
.extra__circle-1 {
  fill: none;
  stroke: rgba(255, 255, 255, 0.4);
}

.vip__circle-2,
.extra__circle-2 {
  fill: rgba(255, 255, 255, 0.4);
}

.circle__m2-text {
  font-family: "Bruno Ace SC";
  font-weight: 400;
  line-height: 4.375rem;
  font-size: 4rem;
}
@media (max-width: 600px) {
  .circle__m2-text {
    font-size: 3.375rem;
  }
}

.circle__m2-circle {
  stroke: rgba(255, 255, 255, 0.4);
}

.circle__select {
  position: absolute;
  top: 18.4375rem;
  left: 10.45%;
  z-index: 5;
}
@media (max-width: 1800px) {
  .circle__select {
    top: 9.0625rem;
    left: 50%;
    transform: translate(-50%);
  }
}
@media (max-width: 992.99px) {
  .circle__select {
    top: 5.25rem;
    left: 49.4%;
  }
}
@media (max-width: 600px) {
  .circle__select {
    top: 6.125rem;
    left: 49.9%;
  }
}

.circle__m2 {
  position: absolute;
  top: 20.375rem;
  left: 20.3%;
  z-index: 5;
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 400;
  font-family: "Open Sans";
  color: white;
}
@media (max-width: 1800px) {
  .circle__m2 {
    top: 10.9375rem;
    left: 50%;
    transform: translate(-50%);
  }
}
@media (max-width: 992.99px) {
  .circle__m2 {
    top: 7.1875rem;
  }
}
@media (max-width: 400px) {
  .circle__m2 {
    top: 7.1875rem;
    left: 50.5%;
  }
}

.vip__line {
  margin-inline-start: -0.9375rem;
}
.vip__line:hover .vip__pagination-title {
  color: #ffac30;
}

.select__price {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 2.25rem;
  top: 28.75rem;
  left: 61.4%;
  color: white;
  z-index: 5;
}
@media (max-width: 1800px) {
  .select__price {
    top: 30.9375rem;
    left: 52%;
    transform: translate(-50%);
  }
}
@media (max-width: 992.99px) {
  .select__price {
    top: 37.1875rem;
    left: 55.8%;
  }
}
@media (max-width: 600px) {
  .select__price {
    gap: 0.5625rem;
    top: 27.625rem;
    left: 9.0625rem;
  }
}

.select__price-number {
  font-weight: 400;
  font-family: "Bruno Ace SC";
  font-size: 4rem;
  line-height: 4.375rem;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .select__price-number {
    font-size: 1.875rem;
  }
}

.select__price-value {
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 1.5rem;
  line-height: 3rem;
  letter-spacing: 0.09375rem;
}
@media (max-width: 600px) {
  .select__price-value {
    font-size: 0.875rem;
  }
}

.elite__pagination-line.active {
  stroke: #ffac30;
}

.vip__pagination-line.active,
.extra__pagination-line.active {
  stroke: #ffac30;
}

.vip__circle-2.active,
.extra__circle-2.active {
  fill: #ffac30;
}

.vip__circle-1.active,
.extra__circle-1.active {
  stroke: #ffac30;
}

.elite__pagination:hover .elite__pagination-title {
  color: #ffac30;
}
.elite__pagination:hover .elite__pagination-line {
  stroke: #ffac30;
}
.elite__pagination:hover .elite__circle-1 {
  stroke: #ffac30;
}
.elite__pagination:hover .elite__circle-2 {
  fill: #ffac30;
}

.vip__pagination:hover .vip__pagination-title {
  color: #ffac30;
}
.vip__pagination:hover .vip__pagination-line {
  stroke: #ffac30;
}
.vip__pagination:hover .vip__circle-1 {
  stroke: #ffac30;
}
.vip__pagination:hover .vip__circle-2 {
  fill: #ffac30;
}

.extra__pagination:hover .extra__pagination-title {
  color: #ffac30;
}
.extra__pagination:hover .extra__pagination-line {
  stroke: #ffac30;
}
.extra__pagination:hover .extra__circle-1 {
  stroke: #ffac30;
}
.extra__pagination:hover .extra__circle-2 {
  fill: #ffac30;
}

.extra__pagination.active h2,
.vip__pagination.active h2,
.elite__pagination.active h2 {
  color: #ffac30;
}

@media (max-width: 992.99px) {
  .screen__img {
    max-height: 45rem;
    -o-object-position: left center;
       object-position: left center;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 992.99px) {
  .vip__line--ds,
  .extra__line--ds,
  .elite__line--ds {
    display: none;
  }
}

.vip__line--mob,
.extra__line--mob,
.elite__line--mob {
  display: none;
}
@media (max-width: 992.99px) {
  .vip__line--mob,
  .extra__line--mob,
  .elite__line--mob {
    display: flex;
  }
}
@media (max-width: 600px) {
  .vip__line--mob,
  .extra__line--mob,
  .elite__line--mob {
    display: none;
  }
}

.elite__line--little,
.vip__line--little,
.extra__line--little {
  display: none;
}
@media (max-width: 600px) {
  .elite__line--little,
  .vip__line--little,
  .extra__line--little {
    display: flex;
  }
}

.elite__pagination-title.active {
  color: #ffac30;
}

.elite__line--mob .elite__pagination-line.active,
.vip__line--mob .vip__pagination-line.active,
.extra__line--mob .extra__pagination-line.active {
  stroke: #ffac30;
}

.elite__line--mob .elite__circle-1.active,
.vip__line--mob .vip__circle-1.active,
.extra__line--mob .extra__circle-1.active {
  stroke: #ffac30;
}

.elite__line--mob .elite__circle-2.active,
.vip__line--mob .vip__circle-2.active,
.extra__line--mob .extra__circle-2.active {
  fill: #ffac30;
}

.circle__select--mob {
  display: none;
}
@media (max-width: 600px) {
  .circle__select--mob {
    display: flex;
  }
}

@media (max-width: 600px) {
  .circle__select--ds {
    display: none;
  }
}
/*# sourceMappingURL=screen_4.css.map */
