<div class="side">
  <div class="side__logo">
    <img src="img/header/logo.svg" alt="logo" />
  </div>
  <div class="side__body">
    <div class="side__text">
      <p>apartment renovation</p>
    </div>
    <div class="line"></div>
    <div class="side__social">
      <a class="faceboock__link" href=""
        ><img src="../../img/header/facebook.svg" alt="faceboock"
      /></a>
      <a class="instagram__link" href=""
        ><img src="../../img/header/instagram.svg" alt="instagram"
      /></a>
      <a class="telegram__link" href=""
        ><img src="../../img/header/telegram.svg" alt="telegram"
      /></a>
      <a class="utube__link" href=""><img src="../../img/header/utube.svg" alt="youtube" /></a>
    </div>
  </div>
</div>
