.service__vip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 9999999;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.service__vip.open {
  opacity: 1;
  visibility: visible;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 768px) {
  .service__vip {
    top: 970px;
    height: 1340px;
  }
}
@media (max-width: 700px) {
  .service__vip {
    top: 815px;
  }
}
@media (max-width: 383px) {
  .service__vip {
    top: 800px;
    height: 1340px;
  }
}
@media (max-width: 377px) {
  .service__vip {
    top: 780px;
    height: 1340px;
  }
}
@media (max-width: 360px) {
  .service__vip {
    top: 740px;
    height: 1340px;
  }
}
@media (max-width: 340px) {
  .service__vip {
    top: 725px;
    height: 1340px;
  }
}
@media (max-width: 330px) {
  .service__vip {
    top: 720px;
    height: 1340px;
  }
}

.gallery__link-sevices {
  cursor: pointer;
}
.gallery__link-sevices :hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.service__img--close {
  z-index: 150;
  top: 61px;
  right: 60px;
  width: 35px;
  height: 34px;
}
.service__img--close:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
@media (max-width: 768px) {
  .service__img--close {
    top: 65px;
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 600px) {
  .service__img--close {
    top: 0px;
  }
}
@media (max-width: 320px) {
  .service__img--close {
    right: 21px;
    top: 21px;
    width: 20px;
    height: 20px;
  }
}

.swiper-no-swipe {
  pointer-events: none;
}

.service__info--service {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 450px));
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  row-gap: 10px;
  top: -55px;
  left: 115px;
  z-index: 150;
}
@media (max-width: 1700px) {
  .service__info--service {
    left: 20px;
    -webkit-padding-before: 40px;
            padding-block-start: 40px;
  }
}
@media (max-width: 1200px) {
  .service__info--service {
    grid-template-columns: repeat(1, minmax(0, 450px));
  }
}
@media (max-width: 768px) {
  .service__info--service {
    top: -137px;
    left: 12px;
    -webkit-padding-before: 92px;
            padding-block-start: 92px;
  }
}
@media (max-width: 600px) {
  .service__info--service {
    place-items: center;
    top: -60px;
  }
}
@media (max-width: 320px) {
  .service__info--service {
    top: -133px;
    left: 0px;
  }
}

.service__info--service::before {
  position: absolute;
  top: -56px;
  left: 0;
  content: "";
  width: 115%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1490196078);
}
@media (max-width: 1700px) {
  .service__info--service::before {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .service__info--service::before {
    top: -53px;
    width: 96%;
  }
}
@media (max-width: 320px) {
  .service__info--service::before {
    width: 90%;
    left: 15px;
    top: -55px;
  }
}

.gallery__title--service .gallary__title-color {
  fill: #ffac30;
}

.gallery__title--service .gallary__path-color {
  stroke: rgba(0, 0, 0, 0.1490196078) !important;
  opacity: 1;
}

.service__info-text--service {
  font-size: 16px;
  font-weight: 400;
  font-size: "Open Sans";
  line-height: 20px;
  color: black;
  max-width: 100%;
  -webkit-padding-after: 10px;
          padding-block-end: 10px;
}
@media (max-width: 600px) {
  .service__info-text--service {
    font-size: 14px;
    max-width: 280px;
  }
}

.service__info-text--service::before {
  left: -50px;
}
@media (max-width: 320px) {
  .service__info-text--service::before {
    left: -30px;
  }
}

.service__price {
  font-size: 24px;
  font-family: "Bruno Ace SC";
  font-weight: 400;
  position: absolute;
  top: -98px;
  left: 2px;
  letter-spacing: 0.6px;
}

.gallery__title--service {
  left: 318px;
}

@media (max-width: 1700px) {
  .gallery__title--service,
  .service__price {
    display: none;
  }
}

.service__style {
  position: absolute;
  top: 0;
  display: none;
  font-size: 24px;
  font-family: "Bruno Ace SC";
  font-weight: 400;
  position: absolute;
  top: -98px;
  left: 2px;
  letter-spacing: 0.6px;
}
@media (max-width: 1700px) {
  .service__style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 600px) {
  .service__style {
    font-size: 20px;
    font-family: "Open Sans";
    color: #ffac30;
  }
}
@media (max-width: 320px) {
  .service__style {
    -webkit-margin-start: 18px;
            margin-inline-start: 18px;
  }
}

.service__text--mob {
  position: absolute;
  display: none;
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 400;
  position: absolute;
  top: -38px;
  left: 2px;
  letter-spacing: 0.6px;
  max-width: 492px;
}
@media (max-width: 1700px) {
  .service__text--mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 768px) {
  .service__text--mob {
    font-size: 16px;
    line-height: 30px;
    top: -20px;
    left: 1px;
    letter-spacing: -0.1px;
  }
}
@media (max-width: 600px) {
  .service__text--mob {
    font-size: 14px;
    line-height: 24px;
    max-width: 350px;
  }
}
@media (max-width: 320px) {
  .service__text--mob {
    top: -33px;
    left: 20px;
    max-width: 280px;
  }
}

@media (max-width: 768px) {
  .service__price--mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.service__info--mob {
  top: -250px;
}/*# sourceMappingURL=vipService.css.map */