<svg
  class="gallery__arrow"
  xmlns="http://www.w3.org/2000/svg"
  width="850"
  height="115"
  viewBox="0 0 125 60"
>
  <line
    class="line__arrow line__arrow--white"
    x1="-130"
    y1="30"
    x2="5"
    y2="30"
    stroke="#f9a12a"
    stroke-width="0.5"
    stroke-linecap="round"
  ></line>
  <line
    class="line__arrow line__arrow--white"
    x1="25"
    y1="10"
    x2="108"
    y2="58"
    stroke="#f9a12a"
    stroke-width="1"
    stroke-linecap="round"
  ></line>
  <polyline
    class=""
    points="-135,22 -148,30 -135,38"
    fill="none"
    stroke="white"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  ></polyline>

  <line
    class="line__arrow line__arrow--white"
    x1="130"
    y1="30"
    x2="265"
    y2="30"
    stroke="#f9a12a"
    stroke-width="0.5"
    stroke-linecap="round"
  ></line>
  <polyline
    class=""
    points="272,22 283,30 272,38"
    fill="none"
    stroke="white"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  ></polyline>
</svg>

<!-- gallery - 768 -->
<svg
  class="gallery__arrow--768"
  xmlns="http://www.w3.org/2000/svg"
  width="850"
  height="115"
  viewBox="0 0 125 60"
>
  <line
    class="line__arrow line__arrow--white"
    x1="-106"
    y1="30"
    x2="-3"
    y2="30"
    stroke="#f9a12a"
    stroke-width="0.2"
    stroke-linecap="round"
  ></line>
  <line
    class="line__arrow line__arrow--white"
    x1="18"
    y1="6"
    x2="112"
    y2="61"
    stroke="#f9a12a"
    stroke-width="0.5"
    stroke-linecap="round"
  ></line>
  <polyline
    class=""
    points="-112,22 -126,30 -112,38"
    fill="none"
    stroke="white"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  ></polyline>

  <line
    class="line__arrow line__arrow--white"
    x1="136"
    y1="30"
    x2="240"
    y2="30"
    stroke="#f9a12a"
    stroke-width="0.5"
    stroke-linecap="round"
  ></line>
  <polyline
    class=""
    points="246,22 258,30 246,38"
    fill="none"
    stroke="white"
    stroke-width="1.5"
    stroke-linecap="round"
    stroke-linejoin="round"
  ></polyline>
</svg>
<!-- gallery - 320 -->
<svg
  class="gallery__arrow--320"
  xmlns="http://www.w3.org/2000/svg"
  width="850"
  height="150"
  viewBox="0 0 125 60"
>
  <line
    class="line__arrow line__arrow--white"
    x1="-30"
    y1="-9"
    x2="210"
    y2="120"
    stroke="#f9a12a"
    stroke-width="0.5"
    stroke-linecap="round"
  ></line>
  <polyline
    class=""
    points="-76,16 -100,30 -76,44"
    fill="none"
    stroke="white"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  ></polyline>

  <polyline
    class=""
    points="172,16 194,30 172,44"
    fill="none"
    stroke="white"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  ></polyline>
</svg>

<svg
  class="circle__gallery--768 fade-circle"
  width="370"
  height="70"
  xmlns="http://www.w3.org/2000/svg"
>
  <circle class="circle__animation--one" cx="32" cy="35" r="7" fill="white"></circle>
  <circle cx="32" cy="35" r="15" stroke="white" opacity="0.5" fill="none"></circle>
  <circle cx="32" cy="35" r="23" stroke="white" opacity="0.2" fill="none"></circle>
</svg>
<svg
  class="circle2__gallery--768 fade-circle"
  width="370"
  height="70"
  xmlns="http://www.w3.org/2000/svg"
>
  <circle class="circle__radius--one" cx="32" cy="35" r="7" fill="white"></circle>
  <circle
    class="circle__radius--two"
    cx="32"
    cy="35"
    r="15"
    stroke="white"
    opacity="0.5"
    fill="none"
  ></circle>
  <circle
    class="circle__radius--third"
    cx="32"
    cy="35"
    r="23"
    stroke="white"
    opacity="0.2"
    fill="none"
  ></circle>
</svg>

<svg class="line__gallery--320" width="253" height="70" xmlns="http://www.w3.org/2000/svg">
  <line
    class="gallery__line-1"
    x1="190"
    y1="65"
    x2="90"
    y2="65"
    stroke="#FFA500"
    stroke-width="1"
  ></line>
  <line
    class="gallery__line-2"
    x1="190"
    y1="65"
    x2="222"
    y2="25"
    stroke="#FFA500"
    stroke-width="1"
  ></line>

  <circle class="gallery__circle-animation" cx="90" cy="65" r="4.5" fill="#FFA500"></circle>
  <circle cx="220" cy="24" r="7" fill="#FFA500"></circle>
  <circle cx="220" cy="24" r="15" stroke="#FFA500" fill="none"></circle>
  <circle cx="220" cy="24" r="23" stroke="#FFA500" fill="none"></circle>
</svg>
<p class="gallery__number-curent">01</p>
<p class="gallery__number-all">04</p>
