.header {
  width: 100%;
  padding-inline: 11.125rem;
  position: absolute;
  z-index: 5;
  top: 0;
}
.header::after {
  position: absolute;
  bottom: 0.5625rem;
  content: "";
  background-color: hsla(0, 0%, 100%, 0.25);
  width: 81.5%;
  height: 0.0625rem;
}
@media (max-width: 992.99px) {
  .header::after {
    width: 100%;
    left: 0;
    bottom: 0;
  }
}
@media (max-width: 600px) {
  .header::after {
    bottom: -0.125rem;
  }
}
@media (max-width: 768px) {
  .header {
    padding-inline-start: 7.5rem;
    padding-inline-end: 1.25rem;
  }
}
@media (max-width: 400px) {
  .header {
    padding-inline-start: 5.625rem;
    padding-inline-end: 0.625rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-block-start: 2.5rem;
  padding-block-end: 3rem;
}
@media (max-width: 768px) {
  .nav {
    padding-block: 1.875rem;
  }
}
@media (max-width: 400px) {
  .nav {
    padding-block: 1.1875rem;
  }
}

.number__body {
  display: flex;
  align-items: center;
  color: white;
  gap: 9.75rem;
  font-family: "Roboto";
  letter-spacing: 10%;
}
@media (max-width: 1080px) {
  .number__body {
    gap: 5rem;
  }
}

.burger__body {
  position: relative;
}

.burger__body span {
  position: absolute;
  width: 0.8125rem;
  height: 0.125rem;
  background-color: white;
  top: 0;
  left: 0;
}

.burger__body span::before,
.burger__body span::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: white;
  height: 0.125rem;
}

.burger__body span::before {
  top: 0.5rem;
  width: 1.875rem;
}

.burger__body span::after {
  top: -0.5rem;
  width: 1.5625rem;
}

.number {
  letter-spacing: 0.10625rem;
}
@media (max-width: 992.99px) {
  .number {
    display: none;
  }
}

.request__body {
  display: flex;
  gap: 4rem;
  align-items: center;
  padding-inline-end: 3.25rem;
}
@media (max-width: 768px) {
  .request__body {
    padding-inline-end: 1.25rem;
  }
}

.request__body-call {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 100%;
  color: #ffac30;
  white-space: nowrap;
  font-family: "Open Sans";
  font-weight: 600;
  letter-spacing: 0.10625rem;
  margin-block-start: 0.125rem;
}
@media (max-width: 767px) {
  .request__body-call {
    display: none;
  }
}

.request__body-img {
  width: 0.78125rem;
  height: 0.78125rem;
}

.phone__body {
  position: relative;
  z-index: 2;
  padding: 0.875rem;
  border-radius: 3.125rem;
}

.phone__rings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: visible;
}

.phone__rings .ring-1,
.phone__rings .ring-2,
.phone__rings .ring-3 {
  fill: none;
  stroke: white;
  stroke-width: 0.1875rem;
}

.phone__rings .ring-1 {
  fill: white;
}

.phone__rings .ring-1 {
  opacity: 0.15;
}

.phone__rings .ring-2 {
  opacity: 0.3;
}

.phone__rings .ring-3 {
  opacity: 0.1;
}

@media (max-width: 400px) {
  .phone__rings--PC {
    display: none;
  }
}

.phone__rings--MOB {
  display: none;
}
@media (max-width: 400px) {
  .phone__rings--MOB {
    display: block;
  }
}
/*# sourceMappingURL=header.css.map */
