.overlay__about {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2.1875rem);
}

.form__about {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  inset: 0;
  z-index: 152;
  max-height: 67.5rem;
  width: 100%;
  max-width: 120rem;
  transition: 0.3s ease-in-out;
}
.form__about.open {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 768px) {
  .form__about {
    display: none !important;
  }
}

.more__text {
  cursor: pointer;
}
.more__text:hover {
  transform: scale(0.9);
}

.form__body {
  position: absolute;
  width: 97.75rem;
  height: 55rem;
  z-index: 250;
  top: 1.25rem;
  left: 50%;
  transform: translate(-50%);
}

.form__body::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.0625rem;
  background-color: rgba(255, 255, 255, 0.2509803922);
  bottom: 0;
}

.form__back {
  position: absolute;
  display: flex;
  bottom: 6.8125rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 250;
  min-width: 100%;
  max-width: 37.5rem;
  justify-content: center;
  gap: 2.375rem;
}

.form__img-img {
  max-width: 21.5rem;
  max-height: 19.375rem;
  position: relative;
}

.form__img {
  position: absolute;
  padding-block-start: 9.4375rem;
  padding-block-end: 14.9375rem;
  padding-inline-start: 2.0625rem;
  padding-inline-end: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 2.5rem;
  left: 0;
}
@media (max-width: 1800px) {
  .form__img {
    display: none;
  }
}

.hero__about {
  position: absolute;
  bottom: 3.625rem;
  text-transform: uppercase;
  left: 0.875rem;
  color: white;
  font-family: "Bruno Ace SC";
}
.hero__about .hero__title--margin {
  margin-inline-start: 6.875rem;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
}
.hero__about .hero__title--shadow {
  filter: inherit;
  font-size: 3.5rem;
  line-height: 3.125rem;
  font-weight: 400;
}
.hero__about .hero__text {
  font-size: 0.625rem;
}

.form__text-hero {
  font-size: 2.25rem;
  color: white;
  font-family: "Open Sans";
  font-weight: 400;
  text-transform: uppercase;
  padding-block-end: 3.375rem;
  margin-inline-start: -0.125rem;
}
@media (max-width: 1280px) {
  .form__text-hero {
    font-size: 1.5rem;
  }
}

.form__text-title {
  position: relative;
  font-size: 1.5rem;
  color: white;
  font-family: "Open Sans";
  font-weight: 400;
  text-transform: uppercase;
  padding-block-end: 1.6875rem;
}
@media (max-width: 1280px) {
  .form__text-title {
    font-size: 1.125rem;
  }
}

.form__text-text {
  font-size: 1.125rem;
  color: white;
  font-family: "Open Sans";
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.875rem;
  padding-block-end: 1.9375rem;
  max-width: 59.75rem;
}
.form__text-text span {
  color: #ffac30;
}
@media (max-width: 1280px) {
  .form__text-text {
    font-size: 0.875rem;
    max-width: 37.5rem;
  }
}

.form__text {
  max-width: 63.6875rem;
  position: absolute;
  top: 10.5625rem;
  right: 3.9375rem;
}
@media (max-width: 1800px) {
  .form__text {
    right: 9.375rem;
  }
}
@media (max-width: 1280px) {
  .form__text {
    right: 28.125rem;
  }
}

.form__text-hero {
  max-width: 58.5rem;
}
@media (max-width: 1280px) {
  .form__text-hero {
    max-width: 37.5rem;
  }
}

.form__text-title::before {
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 3.125rem;
  top: 0.9375rem;
  left: -4.0625rem;
  background-color: white;
}
/*# sourceMappingURL=about.css.map */
