<div class="gallery__back">
  <a href="index.html">
    <p class="gallery__back-text">вернуться к стилям</p>
    <svg
      class="arrow arrow--white gallery__arrow-line"
      xmlns="http://www.w3.org/2000/svg"
      width="250"
      height="40"
      viewBox="0 0 125 60"
    >
      <line
        class="line__arrow line__arrow--white"
        x1="-105"
        y1="30"
        x2="195"
        y2="30"
        stroke="#f9a12a"
        stroke-width="1.5"
        stroke-linecap="round"
      ></line>

      <polyline
        class="polyline__arrow polyline__arrow--white"
        points="210,5 250,30 210,50"
        fill="none"
        stroke="#f9a12a"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></polyline>
    </svg>
  </a>
</div>
