.formMenu {
  opacity: 0;
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 97.75rem;
  height: 17.5rem;
  z-index: 150;
  width: 1564px;
  margin-inline: 11.125rem;
  transition: 0.5s ease-in-out;
  visibility: hidden;
}
.formMenu.open {
  display: flex;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1700px) {
  .formMenu {
    width: 100%;
    height: 25rem;
  }
}
@media (max-width: 768px) {
  .formMenu {
    top: 56.875rem;
    height: 31.875rem;
  }
}
@media (max-width: 650px) {
  .formMenu {
    height: 27.0625rem;
    top: 45rem;
  }
}
@media (max-width: 400px) {
  .formMenu {
    top: 30.3125rem;
  }
}

.formMenu__header {
  display: flex;
  align-items: center;
  gap: 4rem;
  position: relative;
  padding-inline-start: 3.375rem;
  padding-inline-end: 3.75rem;
  padding-block-start: 3.375rem;
}
@media (max-width: 1700px) {
  .formMenu__header {
    padding-inline: 1.875rem;
    padding-block-start: 1.5625rem;
  }
}
@media (max-width: 768px) {
  .formMenu__header {
    padding-block-start: 1.5625rem;
    padding-inline-start: 3.0625rem;
    gap: 3rem;
    height: 9.375rem;
  }
}
@media (max-width: 650px) {
  .formMenu__header {
    padding-inline-start: 2.0625rem;
    padding-inline-end: 1.9375rem;
    justify-content: center;
    width: 100%;
    height: 3.125rem;
  }
}

.formMenu__header::after {
  position: absolute;
  content: "";
  bottom: -3.0625rem;
  left: 0;
  max-width: 90.25rem;
  height: 0.0625rem;
  inset-inline: 3.75rem;
  background-color: rgba(0, 0, 0, 0.1490196078);
}
@media (max-width: 768px) {
  .formMenu__header::after {
    bottom: -3.625rem;
  }
}
@media (max-width: 500px) {
  .formMenu__header::after {
    bottom: -6rem;
    width: 100%;
    inset-inline: 0;
  }
}

.formMenu__header-title {
  font-size: 1.5rem;
  letter-spacing: 1.04375rem;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Roboto";
  color: black;
}
@media (max-width: 1700px) {
  .formMenu__header-title {
    max-width: 43.75rem;
  }
}
@media (max-width: 768px) {
  .formMenu__header-title {
    margin-block-start: 2.5rem;
    margin-inline-start: 0.1875rem;
  }
}
@media (max-width: 600px) {
  .formMenu__header-title {
    font-size: 0.875rem;
    max-width: 16.25rem;
  }
}
@media (max-width: 500px) {
  .formMenu__header-title {
    margin-block-start: 2rem;
    letter-spacing: 0.60625rem;
    min-width: 18.75rem;
    margin-inline-start: 2.5625rem;
  }
}

.formMenu__header-img {
  width: 5.8125rem;
  height: 3.5625rem;
}
@media (max-width: 768px) {
  .formMenu__header-img {
    min-width: 6.875rem;
    min-height: 3.8125rem;
  }
}
@media (max-width: 650px) {
  .formMenu__header-img {
    display: none !important;
  }
}

.formMenu__footer {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-family: "Open Sans";
  font-weight: 300;
  padding-block-start: 5.125rem;
  padding-inline-start: 5.6875rem;
}
@media (max-width: 1700px) {
  .formMenu__footer {
    padding-inline: 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    padding-block-start: 3.75rem;
  }
}
@media (max-width: 768px) {
  .formMenu__footer {
    padding-inline-start: 5.625rem;
    padding-block-start: 5.8125rem;
    gap: 1.9375rem;
  }
}
@media (max-width: 650px) {
  .formMenu__footer {
    font-size: 0.875rem;
  }
}
@media (max-width: 500px) {
  .formMenu__footer {
    padding-block-start: 4.5625rem;
    padding-block-end: 2.5rem;
    padding-inline-start: 2.1875rem;
    gap: 1.6875rem;
    margin-block-start: 4.0625rem;
  }
}

.formMenu__footer-phone,
.formMenu__footer-adress,
.formMenu__footer-time,
.formMenu__footer-email {
  display: flex;
  align-items: center;
}

.formMenu__footer-adress {
  gap: 1.92rem;
}

.formMenu__footer-time,
.formMenu__footer-email {
  gap: 1.875rem;
}
@media (max-width: 768px) {
  .formMenu__footer-time,
  .formMenu__footer-email {
    gap: 1.625rem;
  }
}

.formMenu__footer-phone {
  gap: 2.44625rem;
}
@media (max-width: 768px) {
  .formMenu__footer-phone {
    gap: 1.8125rem;
  }
}

.arrow__menu {
  margin-inline-start: 3.5rem;
}
@media (max-width: 768px) {
  .arrow__menu {
    margin-inline-start: 0;
  }
}

.formMenu__footer-time {
  margin-inline-start: 7.25rem;
  margin-block-start: 0.125rem;
}

.formMenu__footer-email {
  gap: 2.125rem;
  margin-inline-start: 4.375rem;
}
@media (max-width: 768px) {
  .formMenu__footer-email {
    gap: 1.5625rem;
  }
}

.formMenu__footer-phone {
  margin-block-start: 0.125rem;
  margin-inline-start: 5.5rem;
}

@media (max-width: 1700px) {
  .formMenu__footer-phone,
  .formMenu__footer-email,
  .formMenu__footer-time {
    margin: 0;
  }
}

.formMenu__header-body {
  display: flex;
}
@media (max-width: 1700px) {
  .formMenu__header-body {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .formMenu__header-body {
    gap: 1.25rem;
    height: 100%;
  }
}
@media (max-width: 650px) {
  .formMenu__header-body {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .arrow__menu--ds {
    display: none;
  }
}

.arrow__menu--mob {
  display: none;
}
@media (max-width: 768px) {
  .arrow__menu--mob {
    display: flex;
  }
}
@media (max-width: 650px) {
  .arrow__menu--mob {
    left: 50% !important;
    transform: translate(-50%);
  }
}

.arrow__menu--mob {
  position: absolute;
  top: 9.0625rem;
  left: 13.125rem;
}
@media (max-width: 500px) {
  .arrow__menu--mob {
    top: 5.625rem;
  }
}

@media (max-width: 650px) {
  .menu__item--costs,
  .menu__item--steps,
  .menu__item--additional {
    margin-block-start: 0.125rem;
  }
}

@media (max-width: 500px) {
  .time__text {
    max-width: 9.375rem;
    line-height: 1.25rem;
  }
}
/*# sourceMappingURL=formMenu.css.map */
