@use "sass:map";

// COLOR

$colorYellow: #ffac30;
// FONTS
$fonts: (
  Bruno: "Bruno Ace SC",

  Sans: "Open Sans",

  Roboto: "Roboto",
);

$Bruno: map.get($fonts, Bruno);
$Open: map.get($fonts, Sans);
$Roboto: map.get($fonts, Roboto);
