@use "sass:map";
// BACKGROUND
$backgroundVulcan: #12121c;
$backgroundFooter: #222233;
// COLOR
$primaryColor: #ffffff;
$secondaryColor: #88888d;
$backgroundGreen: #57efb4;
$colorButton: #006ada;
// FONTS
$fonts: (
  primaryHeroTitle: (
    family: "Sora",
    fallback: sans-serif,
    weight: 700,
    style: normal,
    font-size: 72px,
    line-height: 86px,
    letter-spacing: -1.5px,
  ),
  primaryHeroText: (
    family: "Sora",
    fallback: sans-serif,
    weight: 400,
    style: normal,
    font-size: 24px,
    line-height: 32px,
    letter-spacing: -0.3px,
  ),
  primaryTitle: (
    family: "Sora",
    fallback: sans-serif,
    weight: 700,
    style: normal,
    font-size: 48px,
    line-height: 56px,
    letter-spacing: -1px,
  ),
  primaryText: (
    family: "Sora",
    fallback: sans-serif,
    weight: 400,
    style: normal,
    font-size: 14px,
    line-height: 24px,
    letter-spacing: 0px,
  ),
  primaryCardsTitle: (
    family: "Sora",
    fallback: sans-serif,
    weight: 600,
    style: normal,
    font-size: 24px,
    line-height: 32px,
  ),
  primaryCardsCaption: (
    family: "Sora",
    fallback: sans-serif,
    weight: 400,
    style: normal,
    font-size: 12px,
    line-height: 20px,
    letter-spacing: 0px,
  ),
);

@mixin font($font-map) {
  font-family: map.get($font-map, family), map.get($font-map, fallback);
  font-weight: map.get($font-map, weight);
  font-style: map.get($font-map, style);
  font-size: map.get($font-map, font-size);
  line-height: map.get($font-map, line-height);
  letter-spacing: map.get($font-map, letter-spacing);
}

$primaryHeroTitle: map.get($fonts, primaryHeroTitle);
$primaryHeroText: map.get($fonts, primaryHeroText);
$primaryTitle: map.get($fonts, primaryTitle);
$primaryText: map.get($fonts, primaryText);
$primaryCardsTitle: map.get($fonts, primaryCardsTitle);
$primaryCardsCaption: map.get($fonts, primaryCardsCaption);
